<div class="right-part">
  <div class="button-rack">
      <button id="darklight-switch" class="button-icon"><i class="fas fa-lightbulb"></i></button>
  </div>
  <h2>Repositories</h2>
  <ul class="repositories">
    {% for repository in site.github.public_repositories %}
      {% if 'design, topolitik' contains repository.name %}
      <li>
        <a href="{{ repository.html_url }}" target="_blank">{{ repository.name }}</a>
        <br/>
        <p>{{ repository.description }}</p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
