@import "{{ site.theme }}";

$borderColor: rgb(230,230,230);
$fontFamily: "IBM Plex Mono", monospace;
body {
  font-family: $fontFamily;
  color: rgb(45,45,45);
}
#container {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12pt;
}

.left-part {
  border-width:0;
  border-right-width: 1px;
  border-color: $borderColor;
  padding-right: 12pt;
  width: 128pt;
}

.right-part {
  border-width:0;
  border-left-width: 1px;
  border-color: $borderColor;
  padding-left: 12pt;
}
.inner {
  margin: 0 !important;
  padding-left: 12pt;
  padding-right: 12pt;
  min-width: 500px;
  flex: 1;
}

header {
  h1 {
    font-family: $fontFamily;
    font-size: 1.5rem;
  }
}

h1, h2, h3 {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
}

p {
  font-weight: lighter;
}

.article {
  h1, h2, h3, p, ul, ol, code {
    max-width: 35rem;
    margin: 0 auto;
  }
}

.highlight {
  background-color: rgb(50,50,60);
  color: rgb(235,235,235);
  margin-top: 6pt;
  margin-bottom: 6pt;
  border-radius: 3pt;
  padding-left: 12pt;
  padding-right: 12pt;
}

code {
  font-size: 12pt;
  font-family: $fontFamily;
}

.language-javascript, .language-jsx {
  .k, .kd, .o {
    color: #d35595;
  }
  .n, .nt, .na, .s2, .s1, .dl {
    color: #ce5a57;
  }
  .nx, .si {
    color: #fbd249;
  }
  .nb, .mi {
    color: inherit;
  }
}