---
---

@import "{{ site.theme }}";

$borderColor: rgb(230,230,230);
$fontFamily: "IBM Plex Mono", monospace;
$redColor: #C30E00;
$whiteColor: rgb(240,240,240);
$blackColor: rgb(40,40,50);
$blackLightColor: rgb(50,50,60);

html {
  width: 100%;
  height: 100%;
}
body {
  font-family: $fontFamily;
  color: rgb(45,45,45);
  width: 100%;
  height: 100%;
  display:flex;
}
#container {
  flex:1;
  background: $whiteColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12pt;
}
#container.dark {
  background: $blackColor;
  color: $whiteColor;
}

.left-part {
  border-width:0;
  border-right-width: 1px;
  border-color: $borderColor;
  padding-right: 12pt;
  width: 128pt;
  max-width: 128pt;
}

.right-part {
  border-width:0;
  border-left-width: 1px;
  border-color: $borderColor;
  padding-left: 12pt;
  width: 128pt;
  max-width: 128pt;
}

.button-rack {
  display: flex;
  flex-direction: row;
}
.button-icon {
  flex: 1;
  background: transparent;
  width: 32pt;
  height: 32pt;
  font-size: 18pt;
  color: $redColor;
  border-style: none;
}

.inner {
  margin: 0 !important;
  padding-left: 12pt;
  padding-right: 12pt;
  min-width: 500px;
  flex: 1;

  overflow: auto;
}

header {
  h1 {
    font-family: $fontFamily;
    font-size: 1.4rem;
    font-size: $redColor;
  }
  p {
    font-size: $redColor;
    font-size: 1rem;
  }
  .page-info {
    padding-bottom: 24pt;
    font-size: 0.8rem;
  }
}

hr {
  border-color: $redColor;
}

h1, h2, h3 {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
}

p {
  font-weight: lighter;
  padding-top: 6pt;
  padding-bottom: 6pt;
}

a {
  color: $redColor;
}

.article {
  h1, h2, h3, p, ul, ol, code {
    max-width: 35rem;
    margin: 0 auto;
  }
}

.highlight {
  background-color: $blackLightColor;
  color: $whiteColor;
  margin-top: 6pt;
  margin-bottom: 6pt;
  border-radius: 3pt;
  padding-left: 12pt;
  padding-right: 12pt;
}

code {
  font-size: 12pt;
  font-family: $fontFamily;
}

.language-javascript, .language-jsx {
  .k, .kd, .o {
    color: #d35595;
  }
  .n, .nt, .na, .s2, .s1, .dl {
    color: #ce5a57;
  }
  .nx, .si {
    color: #fbd249;
  }
  .nb, .mi {
    color: inherit;
  }
}

.repositories {
  list-style-type: none;
}